<link rel="stylesheet" type="text/css" href="/styles.css">
<div class="login-page">
    <div class="form">
        <h1>Welcome, <%= username %>!</h1>
        <a href="/section/1">Section #1</a>
        <a href="/section/2">Section #2</a>
        <a href="/section/3">Section #3</a>
        <br>
        <a href="/statement">Download your bank statement</a>
        <p><a href="/logout">Logout</a></p>
    </div>
</div>