<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form method="post" action="/formData" enctype="multipart/form-data">
    <input type="text" placeholder="filename" name="desc" />
    <input type="file" name="fsociety" />
    <input type="submit" value="submit">
  </form>
</body>

</html>